.container {
    padding: 1rem;
    min-height: 100%;
    position: relative;
}


.ticketDetailHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticketDetailHeader .headerRight > * {
    padding: 8px;
}

.conversations {
    overflow: auto;
    max-height: 32rem;
}

.replyInput {
    position: absolute; 
    bottom: 0; 
    width: 95%;
}
