.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    /* background-color: red; */
    height: 100%;
    align-items: center;
}

.logo > * {
    margin: 5px;
}

.logo img {
    height: 30px;
}

.logo span {
    color: #3921CE;
    font-size: 20px;
    font-weight: bold;
}

.authBtns {
    color: red;
    height: 100%;
}

.authBtns > * {
    font-weight:500;
}

.loginBtn {
    color: black;
}

.signupBtn {
    background-color: #EF5996;
    border-radius: 5px;
    color: white;
    font-weight:500;
}

.tag {
    color: #3921CE;
    font-size: 10px;
}

.content > * {
    margin: 15px 0;
}

.mainContent {
    font-size: 40px;
    color: black;
    line-height: 40px;
    font-weight: 600;
}


.message {
    font-size: 15px;
    font-weight: 400;
}

.content {
    padding: 0 50px;
    width: 60%;
    margin: 20px 0;
}

.ctaBtn {
    background-color: #3921CE;
    color: white;
    font-weight: 500;
}