.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    /* background-color: red; */
    height: 100%;
    align-items: center;
}

.logo > * {
    margin: 5px;
}

.logo img {
    height: 30px;
}

.logo span {
    color: #3921CE;
    font-size: 20px;
    font-weight: bold;
}

.authBtns {
    color: red;
    height: 100%;
}

.authBtns > * {
    font-weight:500;
}

.loginBtn {
    color: black;
}

.signupBtn {
    background-color: #EF5996;
    border-radius: 5px;
    color: white;
    font-weight:500;
}

.tag {
    color: #3921CE;
    font-size: 10px;
}

.content > * {
    margin: 20px 0;
}

.mainContent {
    font-size: 2.5rem;
    color: black;
    line-height: 40px;
    font-weight: 600;
}


.message {
    font-size: 15px;
    font-weight: 400;
}

.content {
    padding:4rem  0;
    width: 60%;
    margin: 20px 0;
    border: none;
}

.ctaBtn {
    background-color: #3921CE;
    color: white;
    font-weight: 500;
    padding: 12px 18px;
    border-radius: 2px;
    transition: 250ms cubic-bezier(.25, .46, .45, .94);
    font-size: 1rem;
    line-height: 1.46rem;
    font-weight: 600;
    text-align: center;
    border: none;
}

.tagLine {
    text-align: center;
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tabs > * {
    width: 8rem;
    height: 2.5rem;
    margin: 30px 15px;
    border: 1px solid #BABABA;
}

.tabs > *.selected {
    /* border: 1px solid #3921CE; */
    background-color: #F0F4FF;
}

.tabInfo {
    /* background-color: rebeccapurple; */
    height: 15rem;
    margin: 1rem auto 3rem auto;
    width: 40rem;
    display: flex;
    flex-direction: row;
}

.tabInfo .tabImage {
    flex: 3;
    height: 100%;
    background-color: aqua;
}

.tabInfo .tabImage img {
    height: 100%;
    width: 100%;
}

.tabInfo .tabContent {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100%;
    font-size: smaller;
    padding: 0 1rem;
    
}

.tabInfo .tabContent > * {
    margin: 10px 0;
}

.tabBtn {
    background-color: #3921CE;
    align-self: flex-start;
    border: none;
    color: white;
    padding: 5px 25px;
    border-radius: 3px;
}
 
.whySection {
    display: flex;
    flex-direction: row;
    height: 20rem;
    margin: 3rem 0;
    /* background-color: red; */
}

.whySection .item {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.whySection .item .title {
    align-self: left;
}

.whySection .card {
    display: flex;
    background-color: red;

    flex-direction: column;
    /* background-color: green; */
    margin: 1rem;
}

 


