
.ticket_inbox_conversations {
    position: relative;
    max-width: 1400px;
    margin: 0px 424px 0 0;
    padding:24px 48px 16px 48px;
}

.ticket_viewer_thread {
    margin-bottom: 48px;
}

.thread_main {
    position: relative;
}

.thread_title {
    height: 24px;
}
.thread_title span{
    float: left;
    margin-right: 6px;
    line-height: 24px;
    font-weight: 500;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.userImg {
    float: left;
    margin-right: 6px;
    font-size: 12px;
}

.thread_title, .thread_time {
    float: left;
    line-height: 24px;
    color: #8090a0;
    font-size: 12px;
}


.thread_description {
    display: inline-block;
    padding: 24px;
    border-radius: 20px;
    background-color: rgba(128,144,160,.1);
    margin: 8px 0 0 0;
}

.comment {
    word-break: break-word;
}

.response {
    display: flex;
}

.response > * {
    margin: 10px 10px 10px 6px;
    font-size: small;
    cursor: pointer;
    color: #8090A0
}

.responseBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 100%;
    min-height: 120px
}

.responseBox .textArea {
    max-width: 80%;
    min-height: 10px;
    border: none;
    outline: none;
    padding: 1rem;
}

.responseBox .button {
    align-self: flex-end;
    margin-right: 1rem;
    border-radius: 3px;
    border: none;
    background-color: #6042ec;
    color: white;
    max-width: 100px;
}

.responseBox .textArea:focus {
    outline: none;
    border: none;
}

.responseBox .button:hover {
    transform: none;
    transition: none;
    background-color: #371cac;
}

.title {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 24px;
    color: #8090a0;
    font-weight: 500;
    user-select: none;

}

.title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin: auto;
    background-color: rgba(128,144,160,.1);
}

.title span {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    padding: 0 12px;
    background-color: #f0f3f9;
    border-radius: 6px;
    transform: translateX(-50%);
}

.title span::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    background-color: rgba(128,144,160,.1);
    pointer-events: none;
}

.ticketActions {
    position: fixed;
    z-index: 50;
    top: 96px;
    right: 24px;
    bottom: 24px;
    width: 400px;
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #fff;
}

.configurations > * {
    margin: 1rem 0;
}

.heading {
    position: relative;
    margin-top: 8px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgba(128,144,160,.06);
    user-select: none;
}

.heading .item {
    display: block;
    margin: auto;
    color: black;
    font-size: small;
    font-weight: 600;
}

.details {
    margin-top: 3rem;
}

.details > * {
    margin: 1rem 0;
}

.deleteTicketBtn {
    display: flex;
    justify-content: center;
}

.deleteTicketBtn .deleteBtn {
    position: absolute;
    bottom: 2rem;
    width: 80%;
    min-height: 35px;
    border-radius: 5px;
    background-color: #F75303;
    color: white;
}
 
.deleteTicketBtn .deleteBtn.deleteBtnDisable {
    /* background-color: #F5F5F5; */
    cursor: not-allowed;
}

