

.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.card .cardContainer > * {
    padding: 0 5px;
}

.card:hover {
    background-color: #EFF2FB;
}

.card.selected {
    /* background-color: red; */
    box-shadow: 4px 0 0 0 #6042ec inset;
    background-color: #EFF2FB;
}

.topTextContent {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;

}

.topTextContent > div {
    padding: 0 5px;
    font-size: smaller;
}

.topTextContent span {
    position: absolute;
    justify-self: flex-end;
    right: 0;
    /* font-weight: bold; */
    font-size: x-small;
}

.creatorName {
    font-size: 1rem;
    font-weight: 500;
}

.subject {
    margin: 6px 0 6px 0;
    font-size: 13px;
    color: #8090a0;
    word-break: break-word;
}

.stats > * {
    margin-right: 4px;
    color: #8090a0;
    font-size: 12px;
    font-weight: 500;
}

.createdTime span {
    color: #8090a0;
    font-size: 12px;
    font-weight: 500;
}

.itemBottom {
    display: flex;
    flex-direction: row;
}

.itemBottom > * {
    margin-right: 1rem;
}