.container {
    height: 100vh;
    background-color: #F7F7F9;
}


.formContainer {
    width: 30rem;
    height: 25rem;
    margin: 0 auto;
    transform: translateY(5rem);
    background-color: white;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.form > * {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form > span { 
    font-weight: 600;
}

.form label {
    font-size: smaller;
}

.form input {
    border-radius: 3px;
    border: 1px solid black;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 18px 10px;
}

.form input::placeholder {
    font-size: smaller;
    color: grey;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3921CE;
    border: none;
    color: white;
    font-size: smaller;
    height: 2rem;
}

.btn:hover {
    color: white;
    background-color: #6752f0;
}

.createAccLabel{
    text-align: center;
    text-decoration: underline;
    font-size: smaller;
    color: #545454;
    font-weight: 300;
}

.errorMessage {
    color: red;
    font-size: smaller;
}