.container {
    background-color: #EFF2FB;
    padding: 1rem;
    margin: 2rem 0;
}

.container .avatar {
    background-color: #F27A57;
}

.container .topInfo > * {
    margin: 0 8px;
}

.container .actionBtns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container .actionBtns > * {
    margin: 0 10px;
    color: #236DFF; 
    border: none;
    background-color: transparent;
    cursor: pointer;
}

